APP_NAME="IFMAP"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8080
APP_KEY=change-this-in-production
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=ifmapci_mooc_db
DB_USERNAME=ifmapci_ulrich
DB_PASSWORD=@Succes2019

MAIL_HOST=smtp.ifmap.ci
MAIL_PORT=465
MAIL_USERNAME=infos@ifmap.ci
MAIL_PASSWORD=@Succes2019
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=infos@ifmap.ci
MAIL_FROM_NAME="IFMAP"

OPENAI_API_KEY=
